@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

findbar {
  -moz-binding: url("chrome://smartfind/content/smartfindbar.xml#smartfindbar") !important;
}

.findbar-textbox {
    -moz-binding: url("chrome://smartfind/content/smartfindbar.xml#smartfindbar-textbox") !important;
}

.findbar-textbox[status="foundsimilar"] {
  -moz-box-shadow: 0pt 0pt 0pt 1em #2cb7b9 inset;
  color: #FFFFFF;
}
